@page "/"
@inject IJSRuntime JSRuntime
@inject ILiffClient Liff

<h1>Hello, world!</h1>
Welcome to your new app.
<Alert Message="@ErrorMessage" AlertType="danger"></Alert>

@code{
    string ErrorMessage { get; set; }
    protected override async Task OnInitializedAsync()
    {

        try
        {
            if (!await Liff.InitializeAsync(JSRuntime))
            {
                return;
            }
        }
        catch (Exception e)
        {
            ErrorMessage = e.ToString();
        }
    }
}